<section class="activities" id="activities">
  <h2 class="heading">RECENT ACTIVITIES</h2>
  <p class="activity-intro">
    直近3回分の活動について記録しています。<br>
    更に過去の活動を参照したい場合は、[more] をクリックしてください。
  </p>
  <div class="activities-wrapper">
    <div class="activity-box">
      <div class="activity-title">第95回</div>
      <p class="activity-text">
        アットウェアさんで開催。<br>
        マイクロサービスアーキテクチャ10章をやりました。<br>
        また、100回記念の企画について、話を進めました。
      </p>
    </div>
    <div class="activity-box">
      <div class="activity-title">第94回</div>
      <p class="activity-text">
        アットウェアさんで開催。<br>
        マイクロサービスアーキテクチャ9章（後半）をやりました。
      </p>
    </div>
    <div class="activity-box">
      <div class="activity-title">第93回</div>
      <p class="activity-text">
        代々木公園で開催。<br>
        マイクロサービスアーキテクチャ9章（前半）をやりました。
      </p>
    </div>
  </div>
  <div class="activity-button">
    <a class="button" href="#activities">MORE</a>
  </div>
</section>
