<h1 class="content-head is-center">Activities</h1>
<div class="l-box-lrg pure-g pure-u-lg">
  <% activities.each do |activity| %>
    <div class="l-box pure-u-l pure-u-md-1-24 pure-u-lg-11-24">
      <h3 class="content-subhead">
        <i class="fa fa-rocket"></i>
        <%= activity_title(activity) %>
      </h3>
      <p>
        <%= activity.contents %>
      </p>
    </div>
  <% end %>

  <div class="more-container">
    <%= link_to "More", user_pc_activities_path, :class => "more-button" %>
  </div>

</div>
