<h1 class="content-head is-center">Activities</h1>
<div class="pure-g">
  <% activities.each do |activity| %>
    <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
      <h3 class="content-subhead">
        <i class="fa fa-rocket"></i>
        <%= activity_title(activity) %>
      </h3>
      <p>
        <%= activity.contents %>
      </p>
    </div>
  <% end %>
</div>
