<div class="ribbon l-box-lrg pure-g">

  <div class="l-box-lrg is-center pure-u-1 pure-u-md-1-2 pure-u-lg-5-5">
    <h1 class="content-head content-head-ribbon">Current books</h1>
  </div>

  <% books.each_with_index do |book, i| %>
    <% if i % 2 == 0 %>
      <%= render "book_image", image_path: book.image_path %>
      <%= render "book_contents", title: book.title, contents: book.contents %>
    <% else %>
      <%= render "book_contents", title: book.title, contents: book.contents %>
      <%= render "book_image", image_path: book.image_path %>
    <% end %>
  <% end %>
</div>
