<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet"
        href="https://unpkg.com/purecss@1.0.0/build/pure-min.css"
        integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w"
        crossorigin="anonymous">
  <!--<link rel="stylesheet" href="style.css">-->
  <!--[if lte IE 8]>
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
    <!--<![endif]-->
    
    
        <!--[if lte IE 8]>
            <link rel="stylesheet" href="css/layouts/blog-old-ie.css">
        <![endif]-->
        <!--[if gt IE 8]><!-->
            <link rel="stylesheet" href="book.css">
        <!--<![endif]-->
</head>
  <link href="https://fonts.googleapis.com/earlyaccess/roundedmplus1c.css" rel="stylesheet"/>
</head>

<body>
<div id="layout" class="pure-g">
  <div class="sidebar pure-u-1 pure-u-md-1-4">
    <div class="header">
      <h1 class="brand-title">BOOKS</h1>
      <h2 class="brand-tagline">これまで輪読した書籍</h2>

      <nav class="nav">
        <ul class="nav-list">
          <li class="nav-item">
            <a class="pure-button" href="#">DODO SOFT</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="content pure-u-1 pure-u-md-3-4">
    <div>
      <!-- A wrapper for all the blog posts -->
      <div class="posts">
          <h1 class="content-subhead">書籍紹介</h1>

          <!-- A single blog post -->
          <section class="post">
            <header class="post-header">
                <h2 class="post-title">マイクロサービスアーキテクチャ</h2>

                <p class="post-meta">
                    category <a class="post-category post-category-architecture" href="#">application architecture</a>
                </p>
            </header>

            <div class="post-description">
              <p>
                マイクロサービスとは、Thought Works社のマーチンファウラーと
                ジェームス・ルイスが最初に提唱したソフトウェアアーキテクチャです。
                モノリシック(一枚岩)なアーキテクチャを、ビジネス機能に沿って
                複数の小さい「マイクロサービス」に分割し、それらを連携させる
                アーキテクチャにすることで、迅速なデプロイ、優れた回復性や
                スケーラビリティといった利点を実現しようとするものです。...背表紙より
              </p>
              <div class="post-images pure-g">
                <div class="pure-u-1">
                  <a href="http://www.flickr.com/photos/uberlife/8915936174/">
                      <img alt="Photo of someone working poolside at a resort"
                           class="pure-img-responsive"
                           src="http://farm8.staticflickr.com/7448/8915936174_8d54ec76c6.jpg">
                  </a>
                </div>
              </div>
            </div>
          </section>

          <section class="post">
            <header class="post-header">
                <h2 class="post-title">プログラマ脳を鍛える数学パズル</h2>

                <p class="post-meta">
                    category <a class="post-category post-category-algorithm" href="#">algorithm</a>
                </p>
            </header>

            <div class="post-description">
              <p>
                本書では、70問の数学パズルを解くためのプログラムを作成していきます。
                実装方法よりも「どういう手順で実装すれば解けそうか」を考える事が重要。
                パズルを解くうちにアルゴリズムが身につき、
                シンプルで高速なコードが書けるようになります。
                楽しみながらスキルアップもできて一石二鳥。さっそく挑戦してみましょう!
              </p>
              <div class="post-images pure-g">
                <div class="pure-u-1">
                  <a href="http://www.flickr.com/photos/uberlife/8915936174/">
                      <img alt="Photo of someone working poolside at a resort"
                           class="pure-img-responsive"
                           src="http://farm8.staticflickr.com/7448/8915936174_8d54ec76c6.jpg">
                  </a>
                </div>
              </div>
            </div>
          </section>
      </div>

      <div class="footer">
        <div class="pure-menu pure-menu-horizontal">
          <ul>
            <li class="pure-menu-item"><a href="#" class="pure-menu-link">ABOUT US</a></li>
            <li class="pure-menu-item"><a href="#" class="pure-menu-link">EVENTS</a></li>
            <li class="pure-menu-item"><a href="#" class="pure-menu-link">CONTACTS</a></li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</body>
</html>