<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet"
        href="https://unpkg.com/purecss@1.0.0/build/pure-min.css"
        integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w"
        crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
  <link href="https://fonts.googleapis.com/earlyaccess/roundedmplus1c.css" rel="stylesheet"/>
</head>
<body>

<div class="header">
  <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
    <!--<a class="pure-menu-heading" href="">Dodo Soft</a>-->
    <ul class="pure-menu-list">
      <li class="pure-menu-item pure-menu-selected"><a href="#" class="pure-menu-link">About Us</a></li>
      <li class="pure-menu-item"><a class="pure-menu-link">Events</a></li>
      <li class="pure-menu-item"><a class="pure-menu-link">Contacts</a></li>
    </ul>
  </div>
</div>

<div class="splash-container">
  <div class="splash">
    <h1 class="splash-head">Dodo Soft</h1>
    <p class="splash-subhead">The Software Engineering Study Group</p>
  </div>
</div>

<div class="content-wrapper">
  <div class="content">
    <h2 class="content-head is-center">
      About Us
    </h2>
    <div class="pure-g">
      <div class="l-box pure-u-l pure-u-md-1-2 pure-u-lg-1-4">
        <p>
          5年目社会人の同期でソフトウェアの設計・実装について勉強しています。
          新人のころから月1，2回ペースで100回以上実施してきました。
          そのとき必要と感じた技術を中心に輪読やグループワークで学習しています。
          突発的にLT大会や、開発合宿も開催しており、楽しくゆるく持続することをモットーに活動しています。
        </p>
      </div>
    </div>
  </div>
</div>

<div class="content-wrapper">
  <div class="content">
    <h2 class="content-head is-center">
      About Us
    </h2>
    <div class="pure-g">
      <div class="l-box pure-u-l pure-u-md-1-2 pure-u-lg-1-4">
        <p>
          5年目社会人の同期でソフトウェアの設計・実装について勉強しています。
          新人のころから月1，2回ペースで100回以上実施してきました。
          そのとき必要と感じた技術を中心に輪読やグループワークで学習しています。
          突発的にLT大会や、開発合宿も開催しており、楽しくゆるく持続することをモットーに活動しています。
        </p>
      </div>
    </div>
  </div>
</div>

</body>
</html>