<%= render "user_pc/common_css_include" %>

<div id="layout" class="pure-g">
  <%= render "user_pc/sidebar", title: "BOOKS", description: "これまで輪読した書籍" %>

  <div class="content pure-u-1 pure-u-md-3-4">
    <div>
      <div class="posts">
        <h1 class="content-subhead">書籍紹介</h1>
        <%= render "list", books: @books %>
      </div>
    </div>

    <%= render "user_pc/footer" %>
  </div>
</div>
