<div class="footer">
  <div class="pure-menu pure-menu-horizontal">
    <ul>
      <li class="pure-menu-item"><a href="#" class="pure-menu-link">ABOUT US</a></li>
      <li class="pure-menu-item"><a href="#" class="pure-menu-link">EVENTS</a></li>
      <li class="pure-menu-item"><%= link_to 'BOOKS', user_pc_books_path %></li>
      <li class="pure-menu-item"><%= link_to 'ACTIVITIES', user_pc_activities_path %></li>
      <li class="pure-menu-item"><a href="#" class="pure-menu-link">CONTACTS</a></li>
    </ul>
  </div>
</div>
