<div class="sidebar pure-u-1 pure-u-md-1-4">
  <div class="header">
    <h1 class="brand-title"><%= title %></h1>
    <h2 class="brand-tagline"><%= description %></h2>

    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-item">
          <%= link_to "DODO SOFT", root_path, class: "pure-button" %>
        </li>
      </ul>
    </nav>
  </div>
</div>
